<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="~/css/style.css">
  <title>Contact</title>
</head>
<body>
  <div class="container">
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li>Contact</li>
        </ul>
      </nav>
    <!-- MAIN -->
    <main id="home_main" class="main">
      <div class="title">
        <h1>Contact Me!</h1>
      </div>
      <div>
        <form id="contact_form" action="">
          <div id="contact_form_left">
            <table>
              <tbody>
                <tr>
                  <td>Name </td>
                  <td>
                    <input type="text">
                  </td>
                </tr>
                <tr>
                  <td>Email </td>
                  <td>
                    <input type="text">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="contact_message">
            <p>Message</p>
            <textarea name="" id="" cols="50" rows="3"></textarea>
          </div>
        </form>
      </div>
    </main>
  </div>
</body>
</html>