<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/css/style.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hello!</title>
</head>
<body>
  <div id="container">
    <nav>
      <ul>
        <li>Home</li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <main id="home_main" class="main">
      <div class="title">
        <h1>About Me</h1>
      </div>
      <div id="home_main_contents">
        <div id="home_main_info" class="home_main_content">
          <img src="https://keikosanimeblog.files.wordpress.com/2017/04/kobayashi-2.png" alt="Kobayashi">
          <h3>Kobayashi</h3>
          <h3>I like beer.</h3>
        </div>
        <div id="home_main_bio" class="home_main_content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam repellat id cumque tempora suscipit? Suscipit repellendus temporibus reprehenderit ipsam quae odio asperiores obcaecati debitis commodi velit tenetur possimus enim deleniti quam expedita, delectus ducimus illum corporis. Quia vel error accusamus cupiditate itaque veritatis aut aliquid quibusdam dolorem, magnam consequuntur repellendus?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, labore reprehenderit? Sapiente rerum ducimus sequi dolorum illo sint et ab! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae officia ut voluptas similique cupiditate quos repellat earum cumque aliquam esse?
          </p>
        </div>
      </div>
    </main>
  </div>
</body>
</html>