<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="~/css/style.css">
  <title>Projects</title>
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li>Projects</li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <!-- MAIN -->
    <main id="projects_main" class="main">
      <div class="title">
        <h1>Here are some projects of mine!</h1>
      </div>
      <div id="projects_container">
        <!--  -->
        <div class="project_item">
          <div class="project_img"></div>
          <div class="project_info">
            <h3>Cool Dragon!</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor ipsam at dolorum. Recusandae sint ab eligendi sed, nostrum modi eum, laboriosam cupiditate iusto molestias rerum placeat voluptates pariatur. Laudantium, ullam!</p>
          </div>
        </div>
        <div class="project_item">
          <div class="project_img"></div>
          <div class="project_info">
            <h3>Cool Dragon!</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor ipsam at dolorum. Recusandae sint ab eligendi sed, nostrum modi eum, laboriosam cupiditate iusto molestias rerum placeat voluptates pariatur. Laudantium, ullam!</p>
          </div>
        </div>
        <div class="project_item">
          <div class="project_img"></div>
          <div class="project_info">
            <h3>Cool Dragon!</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor ipsam at dolorum. Recusandae sint ab eligendi sed, nostrum modi eum, laboriosam cupiditate iusto molestias rerum placeat voluptates pariatur. Laudantium, ullam!</p>
          </div>
        </div>
        <div class="project_item">
          <div class="project_img"></div>
          <div class="project_info">
            <h3>Cool Dragon!</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor ipsam at dolorum. Recusandae sint ab eligendi sed, nostrum modi eum, laboriosam cupiditate iusto molestias rerum placeat voluptates pariatur. Laudantium, ullam!</p>
          </div>
        </div>
        <div class="project_item">
          <div class="project_img"></div>
          <div class="project_info">
            <h3>Cool Dragon!</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor ipsam at dolorum. Recusandae sint ab eligendi sed, nostrum modi eum, laboriosam cupiditate iusto molestias rerum placeat voluptates pariatur. Laudantium, ullam!</p>
          </div>
        </div>
        <div class="project_item">
          <div class="project_img"></div>
          <div class="project_info">
            <h3>Cool Dragon!</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor ipsam at dolorum. Recusandae sint ab eligendi sed, nostrum modi eum, laboriosam cupiditate iusto molestias rerum placeat voluptates pariatur. Laudantium, ullam!</p>
          </div>
        </div>
        <!-- Project container end -->
      </div>
    </main>
  </div>
</body>
</html>